In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("all-crypto-currencies/crypto-markets.csv")

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649051 entries, 0 to 649050
Data columns (total 13 columns):
slug           649051 non-null object
symbol         649051 non-null object
name           649051 non-null object
date           649051 non-null object
ranknow        649051 non-null int64
open           649051 non-null float64
high           649051 non-null float64
low            649051 non-null float64
close          649051 non-null float64
volume         649051 non-null int64
market         649051 non-null int64
close_ratio    634488 non-null float64
spread         649051 non-null float64
dtypes: float64(6), int64(3), object(4)
memory usage: 64.4+ MB

In [6]:
data.describe()

,ranknow,open,high,low,close,volume,market,close_ratio,spread
count,649051.000000,6.490510e+05,6.490510e+05,6.490510e+05,6.490510e+05,6.490510e+05,6.490510e+05,6.344880e+05,6.490510e+05
mean,656.743844,1.832578e+02,2.264140e+02,1.479520e+02,1.835677e+02,3.435066e+06,8.711616e+07,-inf,7.846160e+01
std,378.048585,8.915409e+03,1.182021e+04,6.675302e+03,8.906497e+03,1.212878e+08,2.438082e+09,NaN,6.204997e+03
min,1.000000,1.000000e-10,1.300000e-10,9.200000e-14,0.000000e+00,0.000000e+00,0.000000e+00,-inf,0.000000e+00
25%,341.000000,3.950000e-04,4.610000e-04,3.410000e-04,3.950000e-04,1.900000e+01,6.645500e+03,1.516000e-01,0.000000e+00
50%,659.000000,6.334000e-03,7.323000e-03,5.520000e-03,6.349000e-03,3.170000e+02,7.248200e+04,4.444000e-01,0.000000e+00
75%,963.500000,8.980100e-02,1.037725e-01,7.825350e-02,9.018400e-02,6.830000e+03,8.408855e+05,7.844000e-01,2.000000e-02
max,1384.000000,2.298390e+06,2.926100e+06,2.030590e+06,2.300740e+06,2.219800e+10,3.261410e+11,1.000000e+00,1.770563e+06

In [4]:
data.head()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0,1500520000,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0,1491160000,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0,1597780000,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0,1542820000,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0,1292190000,0.3881,33.32

#### Let's drop symbol and market because we don't need those columns

In [ ]:
data = data.drop(['symbol', 'market'], axis=1)

In [14]:
data = data.drop(['slug'], axis=1)

#### Convert date column to datatime

In [12]:
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')

In [15]:
data.head()

,name,date,ranknow,open,high,low,close,volume,close_ratio,spread
0,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0,0.5438,3.88
1,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0,0.7813,13.49
2,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0,0.3843,12.88
3,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0,0.2882,32.17
4,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0,0.3881,33.32